# Copy this file to terraform.tfvars
#
# The token below is pre-configured in the local Uptrace instance
# Email: admin@uptrace.local
# Password: SomeRandomPassword

uptrace_token = "user1_secret_token"
