# Copy this file to terraform.tfvars
#
# The token below is pre-configured in the local Uptrace instance
# Email: admin@uptrace.local
# Password: SomeRandomPassword

# Local dev environment (default)
uptrace_endpoint   = "http://localhost:14318/internal/v1"
uptrace_token      = "user1_secret_token"
uptrace_project_id = 1

# Cloud environment (uncomment to use)
# uptrace_endpoint   = "https://api2.uptrace.dev/internal/v1"
# uptrace_token      = "your_cloud_token_here"
# uptrace_project_id = 12345
