openapi: 3.0.3

info:
  title: Uptrace API
  description: |
    REST API for managing Uptrace resources including monitors and dashboards.
    This API allows you to create, update, retrieve, and delete monitors and dashboards programmatically.
  version: 1.0.0
  contact:
    name: Uptrace
    url: https://uptrace.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api2.uptrace.dev/internal/v1
    description: Uptrace Production API
  - url: http://localhost:14318/internal/v1
    description: Local Uptrace Instance

security:
  - bearerAuth: []

paths:
  /projects/{projectId}/monitors:
    parameters:
      - $ref: '#/components/parameters/ProjectId'

    get:
      summary: List monitors
      description: Retrieve all monitors for a project
      operationId: listMonitors
      tags:
        - Monitors
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitors
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Monitor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create monitor
      description: Create a new monitor for a project
      operationId: createMonitor
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorInput'
      responses:
        '200':
          description: Monitor created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitor
                properties:
                  monitor:
                    $ref: '#/components/schemas/Monitor'
        '201':
          description: Monitor created successfully (alternative status)
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitor
                properties:
                  monitor:
                    $ref: '#/components/schemas/Monitor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /projects/{projectId}/monitors/{monitorId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/MonitorId'

    get:
      summary: Get monitor
      description: Retrieve a specific monitor by ID
      operationId: getMonitor
      tags:
        - Monitors
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitor
                properties:
                  monitor:
                    $ref: '#/components/schemas/Monitor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update monitor
      description: Update an existing monitor
      operationId: updateMonitor
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorInput'
      responses:
        '200':
          description: Monitor updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitor
                properties:
                  monitor:
                    $ref: '#/components/schemas/Monitor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete monitor
      description: Delete a monitor by ID
      operationId: deleteMonitor
      tags:
        - Monitors
      responses:
        '200':
          description: Monitor deleted successfully
        '204':
          description: Monitor deleted successfully (alternative status)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /metrics/{projectId}/dashboards:
    parameters:
      - $ref: '#/components/parameters/ProjectId'

    get:
      summary: List dashboards
      description: Retrieve all dashboards for a project
      operationId: listDashboards
      tags:
        - Dashboards
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboards
                properties:
                  dashboards:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /metrics/{projectId}/dashboards/yaml:
    parameters:
      - $ref: '#/components/parameters/ProjectId'

    post:
      summary: Create dashboard from YAML
      description: Create a new dashboard from YAML definition
      operationId: createDashboardFromYAML
      tags:
        - Dashboards
      requestBody:
        required: true
        content:
          text/yaml:
            schema:
              type: string
              description: YAML dashboard definition
      responses:
        '200':
          description: Dashboard created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboard
                properties:
                  dashboard:
                    $ref: '#/components/schemas/Dashboard'
        '201':
          description: Dashboard created successfully (alternative status)
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboard
                properties:
                  dashboard:
                    $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /metrics/{projectId}/dashboards/{dashboardId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/DashboardId'

    get:
      summary: Get dashboard
      description: Retrieve a specific dashboard by ID
      operationId: getDashboard
      tags:
        - Dashboards
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboard
                properties:
                  dashboard:
                    $ref: '#/components/schemas/Dashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete dashboard
      description: Delete a dashboard by ID
      operationId: deleteDashboard
      tags:
        - Dashboards
      responses:
        '200':
          description: Dashboard deleted successfully
        '204':
          description: Dashboard deleted successfully (alternative status)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /metrics/{projectId}/dashboards/{dashboardId}/yaml:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/DashboardId'

    put:
      summary: Update dashboard from YAML
      description: Update an existing dashboard from YAML definition
      operationId: updateDashboardFromYAML
      tags:
        - Dashboards
      requestBody:
        required: true
        content:
          text/yaml:
            schema:
              type: string
              description: YAML dashboard definition
      responses:
        '200':
          description: Dashboard updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboard
                properties:
                  dashboard:
                    $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User authentication token from Uptrace

  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: Uptrace project ID
      schema:
        type: integer
        format: int64
        minimum: 1

    MonitorId:
      name: monitorId
      in: path
      required: true
      description: Monitor ID
      schema:
        type: string

    DashboardId:
      name: dashboardId
      in: path
      required: true
      description: Dashboard ID
      schema:
        type: integer
        format: int64
        minimum: 1

  schemas:
    Monitor:
      type: object
      required:
        - id
        - name
        - type
        - state
        - params
      properties:
        id:
          type: integer
          format: int64
          description: Monitor unique identifier
          example: 3
        name:
          type: string
          description: Monitor name
          minLength: 1
          maxLength: 255
          example: "High CPU Usage"
        type:
          $ref: '#/components/schemas/MonitorType'
        state:
          type: string
          enum: [open, firing, paused]
          description: Current monitor state
          example: "open"
        notifyEveryoneByEmail:
          type: boolean
          description: Whether to notify all project members by email
          default: false
        teamIds:
          type: array
          description: List of team IDs to notify
          items:
            type: integer
            format: int64
          default: []
        channelIds:
          type: array
          description: List of notification channel IDs
          items:
            type: integer
            format: int64
          default: []
        repeatInterval:
          $ref: '#/components/schemas/RepeatInterval'
        params:
          oneOf:
            - $ref: '#/components/schemas/MetricMonitorParams'
            - $ref: '#/components/schemas/ErrorMonitorParams'
        createdAt:
          type: number
          format: double
          description: Monitor creation timestamp (Unix milliseconds)
          example: 1767348994143.7922
        updatedAt:
          type: number
          format: double
          description: Monitor last update timestamp (Unix milliseconds)
          example: 1767348994143.7922

    MonitorInput:
      type: object
      required:
        - name
        - type
        - params
      properties:
        name:
          type: string
          description: Monitor name
          minLength: 1
          maxLength: 255
          example: "High CPU Usage"
        type:
          $ref: '#/components/schemas/MonitorType'
        notifyEveryoneByEmail:
          type: boolean
          description: Whether to notify all project members by email
          default: false
        teamIds:
          type: array
          description: List of team IDs to notify
          items:
            type: integer
            format: int64
          default: []
        channelIds:
          type: array
          description: List of notification channel IDs
          items:
            type: integer
            format: int64
          default: []
        repeatInterval:
          $ref: '#/components/schemas/RepeatInterval'
        params:
          oneOf:
            - $ref: '#/components/schemas/MetricMonitorParams'
            - $ref: '#/components/schemas/ErrorMonitorParams'

    MonitorType:
      type: string
      enum: [metric, error]
      description: Type of monitor
      example: "metric"

    RepeatInterval:
      type: object
      properties:
        strategy:
          type: string
          enum: [default, custom]
          default: "default"
          description: Repeat interval strategy
        interval:
          type: integer
          format: int64
          description: Custom interval in seconds (only for custom strategy)
          minimum: 60
      example:
        strategy: "default"

    MetricMonitorParams:
      type: object
      required:
        - metrics
        - query
        - column
      properties:
        metrics:
          type: array
          description: List of metrics to monitor
          minItems: 1
          items:
            $ref: '#/components/schemas/MetricDefinition'
        query:
          type: string
          description: UQL (Uptrace Query Language) query for metric evaluation
          minLength: 1
          example: "avg(cpu_usage) > 90"
        column:
          type: string
          description: Column name to evaluate in the query result
          minLength: 1
          example: "cpu_usage"
        minAllowedValue:
          type: number
          format: double
          description: Minimum allowed value for the metric
          example: 0
        maxAllowedValue:
          type: number
          format: double
          description: Maximum allowed value for the metric
          example: 100
        groupingInterval:
          type: number
          format: double
          description: Grouping interval in milliseconds
          minimum: 0
          example: 60000
        checkNumPoint:
          type: integer
          description: Number of consecutive points that must breach threshold
          minimum: 1
          default: 1
          example: 3
        nullsMode:
          type: string
          enum: [allow, forbid, convert]
          default: "allow"
          description: How to handle null values
        timeOffset:
          type: number
          format: double
          description: Time offset in milliseconds
          example: 0

    ErrorMonitorParams:
      type: object
      required:
        - metrics
      properties:
        metrics:
          type: array
          description: List of error metrics to monitor
          minItems: 1
          items:
            $ref: '#/components/schemas/MetricDefinition'
        query:
          type: string
          description: Optional filter query for errors
          example: "severity:ERROR AND service:api"

    MetricDefinition:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Metric name
          minLength: 1
          example: "system.cpu.utilization"
        alias:
          type: string
          description: Optional alias for the metric
          example: "cpu_usage"

    Dashboard:
      type: object
      required:
        - id
        - projectId
        - name
      properties:
        id:
          type: integer
          format: int64
          description: Dashboard unique identifier
          example: 1
        projectId:
          type: integer
          format: int64
          description: Project ID this dashboard belongs to
          example: 1
        name:
          type: string
          description: Dashboard name
          minLength: 1
          maxLength: 255
          example: "Service Overview"
        pinned:
          type: boolean
          description: Whether the dashboard is pinned
          default: false
          example: false
        yamlUrl:
          type: string
          format: uri
          description: URL to fetch dashboard YAML representation
          example: "/internal/v1/metrics/1/dashboards/1/yaml"
        createdAt:
          type: number
          format: double
          description: Dashboard creation timestamp (Unix milliseconds)
          example: 1767348994143.7922
        updatedAt:
          type: number
          format: double
          description: Dashboard last update timestamp (Unix milliseconds)
          example: 1767348994143.7922

    DashboardYAMLInput:
      type: object
      required:
        - yaml
      properties:
        yaml:
          type: string
          description: YAML dashboard definition
          minLength: 1
          example: |
            name: Service Overview
            gridRows:
              - items:
                  - type: chart
                    title: Request Rate
                    params:
                      metrics:
                        - name: http_requests_total
                          alias: requests

    Error:
      type: object
      required:
        - error
        - statusCode
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code
              example: "invalid_request"
            message:
              type: string
              description: Human-readable error message
              example: "Invalid monitor configuration"
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        traceId:
          type: string
          description: Trace ID for debugging
          example: "1886e276492f61adfc95791a529e2bf1"
        details:
          type: object
          description: Additional error details
          additionalProperties: true

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
